<a href="https://colab.research.google.com/github/mahfoozalamcse/html_test/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 5
print(a)

5

In [ ]:
a = int(input("enter the number"))
b = int(input("enter the number"))
print(a)
print(b)
print(a + b)

enter the number67
enter the number89
67
89
156

In [ ]:
def add_num(a,b):
    sum= a+b;
    return sum;
num1 =4
num2 =7
print("The sum is",add_num(num1,num2))

The sum is 11

In [ ]:
import math
def factorial(n):
  return(math.factorial(n))
  num=5
  print("Factorial of", num ,"is" ,factorial(num))

In [ ]:
n=int(input("enter the number"))
factorial=1
if n<0:
   print("factorial not genrate negative number")
elif n==0:
    print("the facorial of 0 is 1")
else:
    for i in range (1,n+1):
        factorial=factorial*i
    print(" the factorial",n,"is",factorial)

enter the number78
 the factorial 78 is 11324281178206297831457521158732046228731749579488251990048962825668835325234200766245086213177344000000000000000000

In [ ]:
n=int(input("Enter the number"))
sum=0
temp=n
while temp>0:
  digit=temp%10
  sum+=digit**3
  temp//=10
if n==sum:
    print(n,"is armstrong number")
else:
     print(n,"is not a armstrong number")

Enter the number153
153 is armstrong number

In [ ]:
#mat1=[[m][n]]logic of matrix multiplication
#mat2=[[p][q]]
#mat1*mat2

In [ ]:

a= 'rajas'
b='rajasekha'
c='faiz'
print(a+b+c)

rajasrajasekhafaiz

In [ ]:
a='rahnkvndfgjfhdgndfjsfhdghdfjsdjig'
print(slice(a))

slice(None, 'rahnkvndfgjfhdgndfjsfhdghdfjsdjig', None)

In [ ]:
str='abesitlibrary'
print(slice(str,5))

slice('abesitlibrary', 5, None)

In [ ]:
s='rsfsdfgsdgssfhsdjfh'
s[2:5]

'fsd'

In [ ]:


s='experiment'
b=s.replace('e','$')
print(b)

$xp$rim$nt

In [ ]:
str='i'
n="abestilibrarygoihbsfdsijdn"
print(n.count(str,0,25))

4

In [ ]:
if(5>4):
  print('Greater value')

Greater value

In [ ]:
if(4>3):
print('greater value') #identation error expected

In [ ]:
x=5
y="hello World"
print(x)
print(y)

5
hello World

In [ ]:
myVariable="MAHFOOZ ALAM"
_myvariable="Mahfooz alam"
_my_variavle="Mahfooz alam 786"

In [ ]:
#illegle variable
my-variavle="Mahfooz"
my variable= "Mahfooz"
 myvariable="mahfooz"

In [ ]:
from pickle import FALSE
mylist = ["cherry" ,"banana" , "Orange" ,"cherry"]
print(mylist)
print(len(mylist))
mylist1 = [1,2,3,45,78]
mylist2=[True,False,False]# list item can be any data type
print(mylist1)
print(mylist2)
if "cherry" in mylist:
    print("yes ,cherry in this list")
mylist[1]="red chilly is spicy"
print(mylist)
mylist.append("blackverry")
print(mylist)
mylist.insert(2,"faraj")
print(mylist)
mylist.extend(mylist2)
print(mylist)
mylist.remove("cherry")
print(mylist)
mylist.pop(0)
print(mylist)
del mylist[0]
print(mylist)
mylist.clear()
print(mylist)

['cherry', 'banana', 'Orange', 'cherry']
4
[1, 2, 3, 45, 78]
[True, False, False]
yes ,cherry in this list
['cherry', 'red chilly is spicy', 'Orange', 'cherry']
['cherry', 'red chilly is spicy', 'Orange', 'cherry', 'blackverry']
['cherry', 'red chilly is spicy', 'faraj', 'Orange', 'cherry', 'blackverry']
['cherry', 'red chilly is spicy', 'faraj', 'Orange', 'cherry', 'blackverry', True, False, False]
['red chilly is spicy', 'faraj', 'Orange', 'cherry', 'blackverry', True, False, False]
['faraj', 'Orange', 'cherry', 'blackverry', True, False, False]
['Orange', 'cherry', 'blackverry', True, False, False]
[]

In [ ]:
#python  allow multiple variable assign concept
x , y , z , L = ("Hello", "yellow" , "Faraz Chishti" , "Mahfooz Alam")
print(x)
print(y)
print(z)
print(L)

Hello
yellow
Faraz Chishti
Mahfooz Alam

In [ ]:
#ONE VALUE TO MULTIPLE VARIABLE
x=y=z="Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
#python support unpacking concept
fruits = ("orange", "banana" , "Mixfruits")
x, y, z = fruits
print(x)
print(y)
print(z)

orange
banana
Mixfruits

In [ ]:
#output variable in python is print() e.g
x= "python "
y= "is "
z= "Awasom"
print(x,y,z)
print(x+y+z)

python  is  Awasom
python is Awasom

In [ ]:
#globle variabe use python
x= "Awasom"
def myfunc():
  print("python is " +  x)
myfunc()

python is Awasom

In [ ]:
#creating double same gloabal variable
x="fantastic"
def myfunc():
  x="Awasom"
  print("python is " + x)
myfunc()
print("python is " + x)

python is Awasom
python is fantastic

In [ ]:
#global keyword
def myfunc():
  global x
  x= "fantastic"
myfunc()
print("python is " + x)

python is fantastic

In [ ]:
#data type
a="hello world"
b=7
c=20.0
d=1j
e=["apple", "banana", "Orange" , "Mahfooz"]
f={20,56,79}
g = ( "hello")
h={"name": "mahfooz","age" : 34}
j=frozenset({"hello", "aple" ,"cherry"})
l=memoryview(bytes(5))
i=None
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))
print(type(j))
print(type(l))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'set'>
<class 'str'>
<class 'dict'>
<class 'NoneType'>
<class 'frozenset'>
<class 'memoryview'>

In [ ]:
x=42565955673555539595
y=1
z=-22353535
a=3e34
b=23E2
c=-56.234e34
d=1+45j
print(type(x))
print(type(y))
print(type(z))
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'complex'>

In [ ]:
#type conversion
x=154578
print(float(x))
print(complex(x))
#y=0+89j complex no not convert any othe number
#print(int(y))

154578.0
(154578+0j)

In [ ]:
import random
print(random.randrange(1,10))

4

In [ ]:
#check string
txt=("hello i am free in night today you call me at that time")
print("free" in txt)

True

In [ ]:
txt= "best thing in life is free"
if "free" in txt:
   print("yes , it is present")

yes , it is present

In [ ]:
#check not in
txt= "Love is expensive in this world with our  frind , other and family "
print("expensive" not in txt)

False

In [ ]:
x="today i fall in love with someone which not avoid by me"
if "Faraj" not in x:
   print("false , Faraj not in txt")

false , Faraj not in txt

In [ ]:

#slicing
a= "faraj ,mahfooz"
print(a[2:5])

raj

In [ ]:
#variabe assign string
a="Hello world"
print(a)

Hello world

In [ ]:
#multiple line string
a="""lorem this is good boy and doing better in current time that is good
they are gteedy
health is welth in current time
that is good"""
print(a)

lorem this is good boy and doing better in current time that is good
they are gteedy
health is welth in current time
that is good

In [ ]:
#looping in string
for x in "faraj chishti":
    print(x)

In [ ]:
#lengh in string
a="Mahfooz alam"
b="  faraj , chishti"
c="Farajchishti"
print(len(a))
print(a[-5:12])
print(b.upper())
print(b.lower())
print(b.strip())#remoove whitspace mathod
print(c.replace("Chishti","Mahfooz"))
print(c.split(" ,"))

12
 alam
  FARAJ , CHISHTI
  faraj , chishti
faraj , chishti
Farajchishti
['Farajchishti']

In [ ]:
#merge variable using cocatenate mathod
a="faraj"
b="Mahfooz"
c=a + b
print(c)
print(a +" "+ b)

farajMahfooz
faraj Mahfooz

In [ ]:
#foramate mathod
#age=22
#txt="i am Mahfooz alam ,and " + age
#print(txt)     they give error
#use formate mathod
age=22
txt= "I am Mahfooz alam i want make programmer, age {}"
print(txt.format(age))

I am Mahfooz alam i want make programmer, age 22

In [ ]:
#formate mathod take unlimited arguments
Name="Mahfooz"
age=22
village="thekaha"
city="varansi"
pincode="23456789"
housNumber=56
myorder="I am Name {} age {} and village {} and city {} and pincode {} and housNumber {}"
print(myorder.format(Name, age ,village ,city , pincode , housNumber ))

I am Name Mahfooz age 22 and village thekaha and city varansi and pincode 23456789 and housNumber 56

In [ ]:
#python scape squence charater
#\',\\,\t,\n,\r,\b,\f,\ooo,\xhh
a="hello world \'"
print(a)
b="Mahfooz \\Alam"
print(b)
c="faraj ch\ntishsti"
print(c)
d="afjal \r ah"
print(d)
e="Ahad\fahamad"
print(e)
f="mah\bfooz"
print(f)
#print(g)

hello world '
Mahfooz \Alam
faraj ch
tishsti
 ah
Ahadahamad
mahfooz

In [ ]:
#string mathod you try more for depth knowlege
a= "hello  hello world "
b="mahfooz"
print(a.capitalize())
print(b.casefold())
print(a.center(6))
print(a.count(a))
print(b.encode())
print(a.find())
print(b.format())
print(b.isdigit())

In [ ]:
#boolean
a=bool("abc")
b=bool(123)
c=bool(["cherry", "banana" , "orange"])
print(a)
print(b)
print(c)

True
True
True

In [ ]:
from os import truncate
#function return boolean
def myfunc():
   return  True
print(myfunc())

True

In [ ]:
def myfunc():
 return True
if myfunc():
  print("yes")
else:
  print("No")

yes

In [ ]:
#check object are integer or not
x=2000
print(isinstance(x ,int))

True

In [ ]:
#operator here we learn
a=12*4/45+45
print(a)
b=12**2
print(b)
c=12<7 & 12<4
print(c)
d=23%6+34*23-512+345//2
print(d)

46.06666666666667
144
False
447